.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--White);
}

.header__nav {
  display: flex;
  height: var(--header);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: .5rem;
}

.nav__item a{
  padding: .5rem;
  color: var(--Grayish-Blue);
}
 
@media screen and (max-width:767px) {
  .nav__list {
    position: absolute;
    top: -100vh;
    width: 90%;
    padding: 2rem 0;
    background-color: var(--White);
    border-radius: .5rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    transition: all ease .5s;
  }

  .nav__item {
    padding: .5rem;

  }

  .nav__item a {
    color: var(--Dark-Blue);
    transition: all ease .3s;
  }

  .nav__item a:hover {
    color: var(--Grayish-Blue);
  }


  .buttons-header a {
    display: none;
  }

  .show-menu {
    top: calc(var(--header) + 1rem);
  }

  .btn-mobile {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: .5rem;
  }
  
}

@media screen and (min-width:768px) {
  .btn-mobile {
    display: none;
  }
}