.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--White);
  z-index: 99;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.header__nav {
  display: flex;
  height: var(--header);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: .5rem;
}

.nav__item a{
  padding: .5rem;
  color: var(--Grayish-Blue);
}
 
@media screen and (max-width:767px) {
  .nav__list {
    position: absolute;
    top: 110%;
    width: 90%;
    height: 300px;
    max-height: 0; /*Show Menu*/

    overflow: hidden;
    background-color: var(--White);
    border-radius: .5rem;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: all ease .5s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }

  /* Show menu */
  .show-menu {
    max-height: 400px;
  }

  .nav__item {
    padding: .5rem;
  }

  .nav__item a {
    color: var(--Dark-Blue);
    transition: all ease .3s;
  }

  .nav__item a:hover {
    color: var(--Grayish-Blue);
  }

  .buttons-header a {
    display: none;
  }

  .btn-mobile {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: .5rem;
  }

  .nav__item a.active {
    color: var(--Grayish-Blue);
  }
}

/* Navlinks */
.navlinks {
  font-size: 14px;
  position: relative;
  transition: color 0.3s ease;
}

.navlinks:hover {
  color: var(--Dark-Blue);
}

.navlinks:hover::before {
  transform: scaleX(1);
}

.navlinks::before {
  content: "";
  background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  bottom: -1rem;
  left: 0;
  height: 4px;
  position: absolute;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  width: 100%;
}
